*,
::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --color-theme: #69b7de;
  --font-family-theme: sans-serif;
}

.email-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
  background-color: var(--color-theme);
  padding: 70px;
  gap: 15px;
}

.form-title {
  margin: auto;
}

.form-control {
  display: flex;
  justify-content: space-between;
}

.form-check-box {
  width: 40px;
  height: 40px;
}
